


body {
    background: #F5F8FC none repeat scroll 0 0;
    color: #666;
    font-size: 13px;
    line-height: 25px;
}

body {
    background: #F5F8FC none repeat scroll 0 0;
    /* color: #666; */
    /* font-size: 13px; */
    line-height: 25px;
}


/* footer section */

/* .page-footer {
    background-color: #243a51;
}

footer.page-footer {
    bottom: 0;
    color: #fff;
} */
/* 
   footer.footer{
   position: absolute;
    bottom: 0;
    background-color: #243a51;
    width: 100%;
    height: 60px;
    line-height: 60px;
   } */
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343a40;
    font-weight: 400;
    margin: 4px 0;
}

p {
    color: #7E7E7E;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
}

a {
    color: #007bff;
    transition: color 300ms ease 0s, background-color 300ms ease 0s;
}
a:hover {
    color: #0069d9;
    transition: color 300ms ease 0s, background-color 300ms ease 0s;
}
a,
a:hover {
    text-decoration: none !important;
}
/* header component */

/* navbar style */
.pad_1{
    padding-left: 0.9rem !important;
    padding-right: 0.9rem !important;
    padding-bottom: 24px;
    padding-top: 24px;
}
 
.headnew_style {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
    padding: 0px;
    border-bottom: 1px solid gainsboro;

}
.headnew_style .nav-link {
    color: #343a40 !important;
    font-weight: 700;
    text-transform: uppercase;
}
/* Form Field */


.has-error{
border: 1px solid red;
}

/* header profile Image */

.nav-item img {
    width: 31px;
    height: 31px;
    margin: 20px 10px 0 0;
    border-radius: 30px;
}
/* responsive nave-bar */


@media (max-width: 1200px){

.container {
    max-width: 100%;
    width: 100%;
}
}
@media (max-width: 992px){
    .pad_1 {
        padding: 9px 0 !important;
    }
.container {
    max-width: 100%;
    width: 100%;
}
.headnew_style {
    padding: 12px 18px;
}

}

.login {
    margin-top: 40px;
}

.login-form {
    background-color: white;
    padding: 10px 30px 30px 30px;
}
.login-heading {
    position: relative;
    text-align: center;
}
.register {
    margin-top: 10px;
}
.register-form {
    background-color: white;
    padding: 10px 30px 20px 30px;
}
.register-heading {
    position: relative;
    text-align: center;
}


footer.footer{
    background-color: #243a51;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    width: 100%;
    height: 50px;
	text-align: center;
	font: normal 18px sans-serif;
    position: absolute;
    bottom: 0;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer.footer{
		padding: 35px;
	}

}






